.Header {
    text-align: center;

}

/*.Header-logo {*/
    /*animation: Header-logo-spin infinite 1s linear;*/
    /*height: 80px;*/
/*}*/

.Header-back {
    height: 180px;
    padding: 20px;
    color: grey;
}

.Header-title {
    font-size: 60px;
    font-family:"Bodoni MT Black";
}

.Header-intro {
    font-size: large;
    font-family:"Bodoni MT";

}

.topNav{
    height: 60px;
    border-top: #f2f2f2 1px solid;
    font-family:"Times New Roman";
}

.navLeft{
    width: 60%;
    height: 100%;
    float: left;
}

.navRight{
    width: 30%;
    height: 100%;
    float: right;

}

#signInNav{
    float: right;
}

.nav {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #333;
    height: 32px;
    width: 100px;
    -webkit-transition:  200ms; /* For Safari 3.1 to 6.0 */
    transition:  200ms;
}

.nav.active {
    background: #75ecc4;
}

.nav:hover{
    background:mediumaquamarine;
    cursor: pointer;
    color: white;
}

/*@keyframes Header-logo-spin {*/
    /*from { transform: rotate(0deg); }*/
    /*to { transform: rotate(360deg); }*/
/*}*/
