.home{
    height: 500px;
    width: 90%;
    background: #fefefe;
    padding: 5%;
    text-align: center;
    font-family: "Bodoni MT";
    font-size: xx-large;
    color: #555555;
    border-top: #f2f2f2 1px solid;
}