
.root{
    height: 100%;  
    width: 100%;  
    position: absolute;  
    top: 0px;  
    bottom: 0px;  
    z-index: 0; 
    background: #281c29;
}

.frame{
    width: 620px;
    height: 620px;
    word-wrap:break-word; 
    word-break:break-all; 
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;
    color: #aaa;
    font-weight: 600;
    background: #2d6348cc;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    padding-top: 50px;

}

.tool{
    height: 100px;
    width: 620px;
    margin: 20px auto 0 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.btn{
    height: 50px;
    width: 120px;
    margin-left: 255px;
    background: #bdb24e;
    color: white;
    font-weight: 800 !important;
    font-size: 24px !important;
}

.btn:hover{
    background: #d4c967;

}

.end{
    font-size: 36px;
    color: white;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    display: flex;
}

.score{
    font-size: 36px;
    color: white;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.box0,.box2,.box4,.box8, .box16,.box32, .box64, .box128, .box256, .box512, .box1024, .box2048, .box4096, .box8192{
    width: 130px;
    height: 130px;
    font-size: 42px;
    justify-content: center;
    align-items: center;
    color: white;
    border: 3px solid #2d6348;
    float: left;
    display: flex;
    border-radius: 10px;
    font-weight: 800;
}


.box0{
    background: #ddd;
    color: #777;
}

.box2{
    background: #a6cfe2;
    color: #555;
}

.box4{
    background: #bea1a5
}

.box8{
    background: #bea255
}

.box16{
    background: #178e96
}

.box32{
    background:#9c9cdd
}

.box64{
    background:#9b5665
}

.box128{
    background: #b1fdeb;
    color: #555;
}

.box256{
    background: #54947b
}

.box512{
    background: #CC9966
}

.box1024{
    background: #e28092
}

.box2048{
    background: #674b7c
}

.box4096{
    background:#97b8a3
}

.box8192{
    background: #ffd101
}

