.article{
    width: 800px;
    margin: 40px auto;
    background: white;
    height: 500px;
    text-align: center;
    font-size: x-large;
    box-shadow: 1px 5px 7px #58b193;

}

.article-content{
    height: 390px;
    padding: 15px 30px;
}

.article-bar{
    height: 80px;
    background: #55aa8d;
}

.article-more{
    width: 20%;
    height: 55px;
    float: right;
    padding: 25px 0 0 0;
    color: #eee;
    font-size: medium;
}

.article-info{
    width: 40%;
    height: 55px;
    padding: 25px 0 0 0;
    float: left;
    color: #eee;
    font-size: medium;
    text-align: left;
    margin: 0 20px;
}